body {
	background-color: #00070c;

	background-image: url('/planet.svg'), url('/stars.svg');
	background-size: 25%, cover;
	background-position: 69vw 25vh, 0 0;

	background-repeat: no-repeat, repeat;

	animation: wave linear infinite 30s;
}

main {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

	background-color: #fff;
	width: 50vw;
	min-height: 25vh;
	max-height: 80vh;
	overflow-y: auto;
	border-radius: 3em;

	padding: 1.5em;

	position: absolute;

	font-size: 150%;

	top: 50%;
	left: 15%;
	transform: translate(-15%, -50%);

	box-shadow: #777 0 7px 0;

	&.issue {
		background-color: #f77;
		box-shadow: #711 0 7px 0;
	}

	h1, h3 {
		margin: 0;
	}

	h3 {
		color: #999;
		font-weight: normal;
		font-style: italic;
	}
}