{% extends 'layout.html' %}
{% block content %}
<main>
	<h3>my pronouns are</h3>
	<h1>{{ ', '.join(pronouns) }}</h1>
	<p>For Example...</p>
	<ul>
		<li><strong>{{pronouns[0]}}</strong> owns this car.</li>
		<li>That is <strong>{{pronouns[2]}}</strong> car.</li>
		{% if pronouns|length == 3 %}
			<li>Yes, that dragon is <strong>{{pronouns[1]}}</strong>.</li>
		{% endif %}
		<li><strong>{{pronouns[2]}}</strong> pet loves <strong>{{pronouns[1]}}</strong>. <strong>{{pronouns[0]}}</strong> loves <strong>{{pronouns[2]}}</strong> pet.</li>
	</ul>
</main>
{% endblock %}